@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS for Marquee Animation */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%); /* MODIFIED: Changed to -50% for seamless loop with duplicated content */
  }
}

.animate-marquee-container {
  animation: marquee 30s linear infinite; /* Adjust duration for speed */
  white-space: nowrap; /* Prevent content from wrapping */
}

.animate-marquee-container:hover {
  animation-play-state: paused; /* Pause animation on hover */
}

/* Feature Icon Zoom Animation */
@keyframes featureZoom {
  0%, 100% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.10);
  }
  50% {
    transform: scale(1);
  }
}

/* Yellow glow animation for the Browse Products button */
@keyframes yellowGlow {
  0%, 100% {
    box-shadow: 0 0 5px 2px rgba(255, 214, 0, 0.3), 0 0 10px rgba(255, 214, 0, 0.2), 0 0 15px rgba(255, 214, 0, 0.1);
  }
  50% {
    box-shadow: 0 0 10px 4px rgba(255, 214, 0, 0.5), 0 0 20px rgba(255, 214, 0, 0.3), 0 0 30px rgba(255, 214, 0, 0.2);
  }
}

/* Animation classes for each feature */
.feature-icon-1 {
  animation: featureZoom 12s infinite;
  animation-delay: 0s;
}

.feature-icon-2 {
  animation: featureZoom 12s infinite;
  animation-delay: 3s;
}

.feature-icon-3 {
  animation: featureZoom 12s infinite;
  animation-delay: 6s;
}

/* Yellow glow button animation */
.yellow-glow-button {
  position: relative;
  animation: yellowGlow 2s infinite;
  /* Add a subtle outline to enhance the glow effect */
  outline: 1px solid rgba(255, 214, 0, 0.1);
}

.feature-icon-4 {
  animation: featureZoom 12s infinite;
  animation-delay: 9s;
}